#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

#############
## Python
#############

output.txt
*.gen
*.py[co]
config.py
benchmark.*.txt
*.png
__pycache__/